@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ======== Colors ======== */
  --primary-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.7;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}